body {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'VT323', monospace;
}

main {
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-shrink: 1;
    width: 100vh;
    height: 30px;
}

.cell {
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    transition: 100ms;
}

.wall {
    background-color: blueviolet;
}

.path {
    background-color: black;
}

.start {
    background-color: black;
}

.finish {
    background-color: red;
}

.player {
    position: fixed;
    z-index: 2;
    background-color: green;
}

.startScreen {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 20%;
    background-color: black;
    color: green;
}

.startScreen .startTitle {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
}

.startScreen .nameInput {
    font-family: 'VT323', monospace;
    color: gray;
    padding: 5px 8px;
    border: 1px solid green;
    background-color: rgb(36, 36, 36);
    border-radius: 3px;
    margin-bottom: 30px;
}

.startScreen .nameInput::placeholder {
    font-family: 'VT323', monospace;
    font-size: larger;
    padding: 5px 8px;
}

.startScreen .startButton {
    font-family: 'VT323', monospace;
    font-size: larger;
    color: black;
    border: 2px solid rgb(0, 71, 0);
    background-color: green;
    padding: 5px;
    border-radius: 2px;
}

.startScreen .startButton:hover {
    background-color: rgb(0, 71, 0);
    color: gray;
}

.endGameScreen {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: gray;
    width: 100vw;
    height: 100vh;
    animation: 0.8s linear 1 appearing forwards;
}

.appear {
    animation: 0.8s linear 1 appearing forwards;
}

.disappear {
    animation: 0.8s linear 1 disappearing forwards;
}

.victoryMessage {
    color: white;
    margin: 10%;
}

@keyframes appearing {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes disappearing {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
    }
}